<div class="container">
  <%= form_for(@deal) do |f| %>

    <div class="field">
      <%= f.label 'Are you accepting this proposal?' %>
      <%= f.select :accepted, [[ 'yes', true ],[ 'no', false ]] %>
    </div>
    <br />
    
    <div class="actions">
      <%= f.submit "Finalize", class: 'submitbutton' %>
    </div>

  <% end %>
</div>
