<h1> Deals of <%= current_user.profile.first_name %> </h1>

<% @deals.each do |deal| %>
  <table>
    <tr>
      <td><%= deal.id %></td>
      <td><%= link_to deal.piece.name, deal_path(deal.id) %></td>
    </tr>
  </table>
<% end %>
