/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 */

body {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  margin: 0;
}
a {
  color: #8F2A67;
  text-decoration: none;
}
a:hover {
  color: #e24a96;
}
/*.container {
  width: 940px;
  margin:0 auto;
}*/

h1 {

}
.warning {
  color: #cc1212;
}
.hidden {
  display: none;
}

.btn {
  display: block;
  height: 25px;
  width: 50%;
  background: #fff;
  border: 1px solid #eee;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  font-weight: 600;
}
a.btn {

	text-decoration: none;
}

/*header styles*/
header {
  height: 40px;
  border-bottom: 1px dotted #bbb;
}
.headcontainer {
  display: flex;
}
.logo {
  flex: 2;
}
.logo h1 {
  font-weight: 900;
  font-size: 16px;
}
.logo a {
  color: #000000;
  text-decoration: none;
}
.tabs {
  flex:2;
}
.header_search {
  margin: 7px 4px;
  flex: 2;
}
.header_search input {
  border: 1px dotted #333333;
  height: 18px;
}
.header_search .inputfield {
  margin: 4px;
}
.header_pic {
  width: 40px;
  display: inline-block;
  float: left
}
.header_signin {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

.signin_table {
width: 250px;
}
.userlogin {
  flex:3;
  font-size: 10px;
  padding: 0;
}
.userlogin ul {
  padding: 0;
}
.userlogin a {
  text-decoration: none;
  font-weight: 700;
}
.userlogin li {
  list-style: none;
}
.navbar-text {
  font-weight: 800;
}
/*navigation bar*/
.navbar {
  height: 24px;
  border-bottom: 1px dotted #bbb;
  font-size: 12px;
}
.nav {
  margin: 0;
  padding: 5px 0;
}
.nav li{
  list-style: none;
  font-weight: 800;
  display: inline-block;;
  margin-right: 50px;
}
.rightnav {
  float: right;
  margin: 0px;
}
.rightnav a {
  color: #cc1212;

}

/*flash bar*/
.flashbar {
  height: 10px;
  border-bottom: 1px dotted #bbb;
  padding: 5px 40px;
  background-color: #8F2A67;
}
.flashbar .notice {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;

}

/*forms*/
.form {
  padding: 5px 0px;
}
.form .field{
  width: 400px;
  margin: 2px 0;
}
.submitbutton {
  width: 200px;
  height: 25px;
  background-color:  #8F2A67;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

/*divise forms*/
.devise_container {
  padding: 5px 0;
}
/*dropdown-menu*/
.dropdown_box {
  width: 200px;
  position: absolute;
  top: 25px;
  z-index: 12;
  background-color: #ffffff;
}
.dropdown_item {
  width: 200px;
  height: 20px;
  padding-top: 2px;
}
.dropdown_item a {
}
/*datatable*/
.datatable {

}
.datarow {
  width: 600px;
  display: flex;
  padding: 2px;
  height: 12px;
  margin: 2px 0;
}
.tablekey {
  flex: 2;
  color: #8F2A67;
  font-weight: 300;
}
.tablevalue {
  flex: 8;
  font-weight: 500;
  color: #333333;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
