/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  margin: 0;
}
a {
  color: #8F2A67;
  text-decoration: none;
}
.container {
  width: 940px;
  margin:0 auto;
}

/*header styles*/
header {
  height: 40px;
  border-bottom: 1px dotted #bbb;
}
.headcontainer {
  display: flex;
}
.logo {
  flex: 2;
}
.logo h1 {
  font-weight: 900;
  font-size: 16px;
}
.logo a {
  color: #000000;
  text-decoration: none;
}
.tabs {
  flex:4;
}
.userlogin {
  flex:3;
  font-size: 10px;
}
.userlogin a {
  text-decoration: none;
  font-weight: 700;
}
.userlogin li {
  list-style: none;
}
.navbar-text {
  font-weight: 800;
}
/*navigation bar*/
.navbar {
  height: 24px;
  border-bottom: 1px dotted #bbb;
  font-size: 12px;
}
.nav {
  margin: 0;
  padding-top: 5px;
}
.nav li{
  list-style: none;
  font-weight: 800;
  display: inline;
  margin-right: 50px;
}

/*flash bar*/
.flashbar {
  height: 10px;
  border-bottom: 1px dotted #bbb;
  padding: 5px 40px;
}
.flashbar .notice {
  color: #444444;
  text-transform: uppercase;
  font-size: 10px;

}

/*forms*/
.form {
  padding: 5px 40px;
}
.form .field{
  width: 400px;
  margin: 2px 0;
}

/*divise forms*/
.devise_container {
  padding: 5px 40px;
}
