// Place all the styles related to the Pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indextable {
  background-color: #222222;
  color: #ffffff;
}
.indextable a {
  color: #aaaaaa;
}
.indextable img {
  height: 260px;
}
.img_preview img {
  height: 380px;
}
