// Place all the styles related to the Pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  background-color: #ffffff;
}


// show
.item_show {
  width: 100%;
  display: flex;
}
.img_front, .img_back {
  flex: 3;
  float: left;
}
.item_info {
  flex: 3;
}
.item_info img {
  width: 100%;
  opacity: 0.8;
}
.item_colourfield {
  background-color: #000000;
  opacity: 0.5;
  width: 200px;
  height: 200px;
  position: absolute;;
  top: 0;
  left: 0;
}
.item_header {
  padding: 0 18px;
  position: relative;
  top: -400px;
}
.item_header h1 {
  color: #fff;
  font-size: 24px;
  margin: 20px 0 0 0;
}
.item_header p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0 15px 0;
}
.item_size {
  position: relative;
  top: -410px;
  left: 263px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #DDDDDD;
  z-index: 10;
  margin-bottom: -30px;
}
.item_heart {
  position: relative;
  top: -410px;
  left: 19px;
}
.item_heart a {
  color: #ffffff;
}
.item_description {
  background-color: #ffffff;
  opacity: 0.8;
  position: relative;
  top: -400px;
  margin: 0 15px;
  padding:5px;
  height: 120px;
  overflow: auto;
}
.item_description p {
  margin: 4px 0;
  font-size: 13px;
  line-height: 18px;
}
.img_front img, .img_back img {
  width: 100%;
}
.item_button {
  position: relative;
  top: -305px;
  margin: 0 15px;
}


// styling of the pieces#index
.leftheader {
  position: relative;;
  clear:both;
}
.item {
  width: 462px;
  height: 260px;
  background: #e2e2e2;
  float: left;
  margin: 8px 8px 0 0;
}
.infotag {
  position: relative;;
  left: 210px;
  top: -30px;
  width: 235px;
  height: 100px;
}
.item .name_item {
  margin: 5px 0;
  font-weight: bolder;;
  font-size: 24px;
}
.item .name_item a {
  text-decoration: none;
}
.item .brand_item {
  text-transform: uppercase;
  font-weight: 600;
}
.namebar {
  position: relative;
  left: 0;
  top: 25px;
  height: 70px;
  background-color: #353535;
  padding-top: 10px;
}
.nametag {
  margin-left: 210px;
  color: #ffffff;
  font-weight: 600;
}
.nametag a{
  color: #ffffff;
}
.towntag {
  margin-left: 210px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 200;
  margin-top: 3px;
}
.distancebar {
  margin-left: 210px;
  color: #cccccc;
  font-size: 11px;

}
.profile_picture_bar {
  position: absolute;
  left: 400px;
  margin: 10px;
  top: 0px;
}
.sizeoval {
  position: relative;
  left: 8px;
  top: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #CCCCCC;
  z-index: 10;
}
.fit {
  background: #5FBA7D;
}
.sizeoval p, .item_size p {
  text-align: center;
  padding-top: 6px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.img_preview {
  position: relative;
  top: -215px;
  left: 20px;
  height: 220px;
  width: 160px;
}
.img_preview img {
  height: 220px;
}
.user_dash {
  width: 28px;
  height: 120px;
  background-color: #aaa;
  opacity: 0.6;
  position: absolute;
  margin-top: 18px;
}


// filter styles
.filter {
  height: 55px;
  border-bottom: 1px dotted #bbb;
  padding: 5px 0 0 0;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 500;
}
.filter_button {
  width: 80px;
  height: 20px;
  background-color: #8F2A67;
  position: absolute;
  left: 850px;
  margin-top: 0px;
  padding: 3px 10px;

}
.filter_button a {
  font-size: 11px;
  color: #fff;
  padding: 1px 22px;
  text-transform: uppercase;
}
.hidden {
  display: none;
}
// form style
.piece_form {
  background-color:  #f2c6dc;
  padding: 10px;
}

.inputfield {
  // width: 100%;
}

.piece_form .label {
  // position: relative;
  // float: left;
  width: 100px;
  color: #8F2A67;
}
.piece_form .field {
  // position: relative;
  // display: inline-block;
  // float: left;
  background: #fff;
  color: #8F2A67;
}
.piece_form input {
  // position: relative;
  // display: inline-block;
  // float: left;
  height: 30px;
  width: 100%;
  font-size: 1.1em;
  background: #fff;
  color: #8F2A67;
}
.piece_form select {
  width: 100%;
  font-size: 1.1em;
  color: #8F2A67;
  background: transparent;
  border: none;
}
