// Place all the styles related to the Pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  background-color: #ffffff;
}


// show
.piece_top{
  margin-left: 0px;
}
.piece_top h1 {
  font-size: 40px;
}
.img_show {
  width: 100%;
  display: flex;
}
.img_front, .img_back {
  flex: 1;
  float: left;
}
.img_front img, .img_back img {
  width: 100%;
}
// styling of the pieces#index
.leftheader {
  position: relative;;
  clear:both;
}
.item {
  width: 440px;
  height: 260px;
  background: #e2e2e2;
  float: left;
  margin: 8px 8px 0 0;
}
.infotag {
  position: relative;;
  left: 210px;
  top: -25px;
  width: 235px;
  height: 100px;
}
.item .name_item {
  font-weight: bolder;;
  font-size: 24px;
}
.item .name_item a {
  text-decoration: none;
}
.namebar {
  position: relative;
  left: 0;
  top: 25px;
  height: 70px;
  background-color: #353535;
  padding-top: 10px;
}
.nametag {
  margin-left: 210px;
  color: #ffffff;
}
.sizeoval {
  position: relative;
  left: 8px;
  top: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #DDDDDD;
  z-index: 10;
}
.fit {
  background: #5FBA7D;
}
.sizeoval p {
  text-align: center;
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.img_preview {
  position: relative;
  top: -215px;
  left: 20px;
  height: 220px;
  width: 160px;
}
.img_preview img {
  height: 220px;
}

// filter styles
.filter {
  height: 55px;
  border-bottom: 1px dotted #bbb;
  font-size: 12px;
  padding: 5px 0 0 0;
  margin-bottom: 20px;
}
// form style
.piece_form {
  background-color:  #f2c6dc;
  padding: 10px;
}

.inputfield {
  // width: 100%;
}

.piece_form .label {
  // position: relative;
  // float: left;
  width: 100px;
  color: #8F2A67;
}
.piece_form .field {
  // position: relative;
  // display: inline-block;
  // float: left;
  background: #fff;
  color: #8F2A67;
}
.piece_form input {
  // position: relative;
  // display: inline-block;
  // float: left;
  height: 30px;
  width: 100%;
  font-size: 1.1em;
  background: #fff;
  color: #8F2A67;
}
.piece_form select {
  width: 100%;
  font-size: 1.1em;
  color: #8F2A67;
  background: transparent;
  border: none;
}
